{% extends['layout/layout.html.twig'] %}

{% block title %}
	absence
{% endblock %}

{% block content %}
    <div class="jumbotron">
    	<div class="container">
    		<table class="table table-hover">
    			<thead>
    				<tr>
    					<th>Name</th>
    					<th>City</th>
    					<th>ZipCode</th>
    					<th>Address</th>
    					<th>Photo</th>
						<th>Delete</th>
    				</tr>
    			</thead>
    			<tbody>
					{% for student in students %}
						<tr>
							<td>{{ student.Name }}</td>
							<td>{{ student.City.Name }}</td>
							<td>{{ student.ZipCode }}</td>
							<td>{{ student.Address }}</td>
							<td>photo</td>
							<td><form action="" method="post" role="form">
								<button Name="deleteUser" type="submit" class="btn btn-primary" value="{{ student.User }}">Delete</button>
							</form></td>
						</tr>
					{% endfor %}
				students :{{ students.Id }}
				</tbody>
    		</table>
    	</div>
    </div>
{% endblock %}